body {
  background: #333;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  textcolor: #fff;
  background-img: url("themesbg/bg.png"), rgb(59, 67, 78);
    /* https://wallhaven.cc/w/jxl3qp */
  shadow: 0px 0px 2px #a5dcf5;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  hight:40%;
}
